body{
 background-image: url(/evaluation/images/booking.jpg);
 background-size: 100%;
    background-attachment: fixed;
    
}
h1 ,h2{
  padding-bottom: 20px;
}
.container{
  transform: translateY(70px);
  font-size: large;
  font-family: 'Rajdhani', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
}
small{
  color: red;
}
.addpassengerid{
margin-left: 3px;
transform: translateY(10px);
font-family: 'Rajdhani', sans-serif;
border-radius: 5px;
height: 35;
}
.passengeradd{
  transform: translateX(395px);
  /* transform: translateY(70px); */
  font-size: large;
  font-family: 'Rajdhani', sans-serif;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: bold;

}